@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    width: 100vw;
    height: 100vh;
} */

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Intern", sans-serif;
    line-height: 1.5;
}
